/* Header container styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -10px;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo container styles */
header__logo-container {
  display: flex;
  align-items: center;
}

/* Logo image styles */
.header__logo {
  width: 4rem;
  animation: rotate 7s linear infinite;
}

/* Title styles */
.header__title {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(46, 11, 63);
  animation-name: rotateAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 2s;
  animation-direction: normal;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation styles */
.header__nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.header__nav-item {
  padding: 10px;
  border-radius: 20px;
  background-color: #1e1e3f;
  width: 145px;
}

.header__nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
}

.header__nav-link:hover {
  text-decoration: underline;
}


