.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1px;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: sticky;
  left: 0;
  width: 100%;
  z-index: 100;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container{
  padding: 10px;
  border-radius: 20px;
  background-color: #1e1e3f;
  width: 145px;
  float: right;
}
