:root {
  --soft-color: rgba(173, 97, 243, 0.869);
  --softer-color: rgba(0, 0, 0, 0.2);
  --color-primary: rgb(145, 14, 168);
  --color-waring: #d49cf1;
  --color-white: #fff;
  --color-danger: #7b197a;
  --color-header: rgb(195, 77, 216);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.body__container {
  width: 80%;
  margin: 2rem auto;
  border-radius: 0.5rem;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  top: 0;
  background-color: rgb(42, 1, 80);
  z-index: 100;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search__input {
  width: 300px;
  padding: 10px 20px;
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-in-out;
}

.search__input:focus {
  outline: none;
  border-color: var(--color-primary); 
}

@media screen and (max-width: 1040px) {
  .body__container {
    width: 95%;
  }
  .nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .body__container {
    width: 100%;
  }
  .nav-right {
    flex-direction: column;
  }
}
@media print {
  .nav {
    display: none;
  }
}